.browser-view__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 0 0 1px var(--color-stroke);
  position: relative;

  .iframe__wrapper {
    flex: 1;
    display: flex;
    background-color: var(--color-lighter-background);
  }

  .webview-full {
    width: 100%;
    background-color: #fff;
  }

  .iframe-buidler-airdrop__wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--color-darkest-background);
    .webview-full {
      width: 580px;
    }
  }

  .browser-header-bar {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-lighter-background);
  }

  .browser-url {
    font-size: 13px;
    color: var(--color-primary-text);
    margin-left: 4px;
    max-width: 400px;
  }

  .btn-full-screen {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }

  .btn-reload {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-secondary-text);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .empty-view {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    margin-left: 11%;
    .empty-text {
      color: var(--color-secondary-text);
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
    }
    .normal-button__container {
      margin-top: 50px;
    }
  }
}

.browser-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .browser-back-drop {
    height: 50px;
    width: 100%;
    background-color: #000000bf;
  }
}
