.create-team-container {
  display: flex;
  width: 100%;
  background-color: var(--color-darkest-background);
  height: calc(100vh - 50px);
  justify-content: center;
  .create-team-body {
    display: flex;
    width: 500px;
    background-color: var(--color-lighter-background);
    height: calc(100vh - 50px);
    padding: 0 40px;
    justify-content: center;
    flex-direction: column;
    .label-wrapper {
      display: flex;
      align-items: flex-end;
      .tab-item {
        font-weight: 700;
        font-size: 28px;
        color: var(--color-highlight-action-high);
        &.active {
          color: var(--color-primary-text);
          font-size: 34px;
        }
        & + .tab-item {
          margin-left: 30px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.create-team-state__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  .text-field-container + .text-field-container {
    margin-top: 10px;
  }
  .create-team-button {
    margin-top: 50px;
    align-self: flex-end;
  }
}

.join-team-state__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  .join-team-button {
    margin-top: 120px;
    align-self: flex-end;
  }
}

.create-button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-highlight-action-high);
  color: var(--color-primary-text);
  font-weight: 600;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.add-team-logo__container {
  display: flex;
  flex-direction: column;
  .upload-logo {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--color-highlight);
    border: 1px solid var(--color-stroke);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 55px;
    .upload-text {
      padding: 30px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .camera-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .add-logo-button {
    align-self: flex-end;
    margin-top: 55px;
  }
}

.invite-your-team__container {
  display: flex;
  flex-direction: column;
  .invite-team-button {
    align-self: flex-end;
    margin-top: 50px;
  }
  .text-field-container + .text-field-container {
    margin-top: 10px;
  }
}

.create-team-title {
  font-weight: 700;
  color: var(--color-primary-text);
  font-size: 34px;
}
